body {
    margin: 0 auto;
    font-family: SF Pro Display Regular;
}
.zone {
    color:#FFF;
    font-size:2em;
}
/*Nav Bar*/
.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  overflow: hidden;
 
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

li:hover {
  color: #686de0;
  
}

li {
  padding: 20px;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

/*Cover*/
.container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover {
    width:100%;
    height:100%;
}
.coverText {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -5%);
    color: white;
    font-weight: bold;
}
.coverText > h1 {
    color: black;
    font-size: 40px;
}
/*Body card grid*/
.grid-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.card {
    background-color: #444;
    margin: 50px;
    height: 600px;
}
.card > img {
    max-width: 100%;
    height: 600px;
}
.card h1 {
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
}
.card > .text {
    padding: 0 20px 20px;
}
button {
    cursor: pointer;
    background: gray;
    border: 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
    width: 100%;
}
button:hover {
    background-color: #686de0;
}
/*Footer*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #30336b;
}
footer p {
    font-size: 1rem;
}
.blue {
    background: #2d3436;
}


.form {
  font-size: 16px;
}

.form * {
  box-sizing: border-box;
  line-height: 1.5;
}

.form__title {
  font-size: 2em;
  font-weight: 600;
}

.form__item {
  display: flex;
  flex-direction: column;
    height: 100px;
}

.form__item > * {
  align-self: flex-start;
}

.form__label {
  font-weight: 600;
  padding: 10px 0;
}

.form__input {

  width: 100%;
  max-width: 425px;
  padding: 0.5em;
  font-size: 0.9em;
  
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form__input:focus {
  background: #ffffff;
}

.form__input::placeholder {
  color: #bbbbbb;
}

.form__input--error {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}

.form__input--error::placeholder {
  color: #ffbfbf;
}

.form__error {
  padding-top: 10px;
  color: #d50000;
  font-size: 0.9em;
  visibility: hidden;
}

.form__input--error + .form__error {
  visibility: visible;
}

.form__input--small {
  max-width: 250px;
}


.form__btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  padding: 10px 16px;
  margin: 10px 0;

  color: #ffffff;
  background: #14b64a;
  border: 2px solid #0fa942;
  border-radius: 5px;

  cursor: pointer;
  outline: none;
}

.form__btn:active {
  background: #0fa942;
}
